.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
data/
outputs/*
!outputs/.gitkeep
*:Zone.Identifier
*.pt
*.pth
*.onnx
*.egg-info/
build/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
cpp/build/
.pytest_cache/
*.mexa64
